<h2>This is where a user can edit their uploads.</h2>
<br>

<p>Need to figure out how to edit each posting.</p>
<p>I think it would have to do with each upload having a unique id.</p>

<%= link_to 'Cancel', user_path(current_user) %>
