<h1>Sari Sakhi Main Landing Page</h1>
<p>There will be 3 options for visitors to this page:</p>
<ul>
  <li><%= link_to 'New User? Sign Up Now!', new_user_path %></li>
  <li><%= link_to 'Already Registered? Log-in Again!', new_session_path %></li>
  <li>Look Around (the page as it should include what the site is about)</li>
</ul>
