<h1>This is where a User can view their profile</h1>

<p>New and Returning Users will have 4 options here:</p>
<ul>
  <li>They will have the option to add a sari, include a link to form for upload</li>
  <li>They will have the option to view their sari uploads</li>
  <li>They will have the option to share their sari on a gallery page</li>
  <li>They will have the option to view ALL sari uploads that other users have shared</li>
</ul>
