<h1>Sari Sakhi App Welcome Page</h1>
<br>
<ul>
  <li><%= link_to 'New to Our Site? Sign Up Now!', new_user_path %></li>
  <br>
  <li><%= link_to 'Already Registered? Log-in Again!', new_session_path %></li>
  <br>
  <li>Read What the Site is About, so a Visitor can decide if they want to become a User.</li>
</ul>
