<center><h1>Sari Friends, Trends & Styles</h1><h4>Make Friends and Create Trends!</h4></center>
<br>
<article>
  Is the Sari staging a comeback with Indian women? We think so and we want You to have an active influence on the Sari styles that trend in the marketplace.
  <br><br>
  Inside almost every Indian woman's wardrobe, you will find a sari - the long, and usually colourful piece of cotton or silk used to drape around the body. And while to an outsider sari styles may look similar, in India, there are hundreds of ways of draping them. Every generation, community and region interprets it differently.
  <br><br>
  A sari, saree or shari is a South Asian female garment that consists of a drape varying from five to nine yards (4.57 meters to 8.23 meters) in length and two to four feet (60 cm to 1.20 m) in breadth that is typically wrapped around the waist, with one end draped over the shoulder, baring the midriff.
  <br><br>
  The sari is associated with grace and is widely regarded as a symbol of Indian culture.
  <br><br>
  </article>
  <h4>Show Us What Your Sari Style Is...</h4>
<ul>
  <li><%= link_to 'New to Our Site? Sign Up Now!', new_user_path %></li>
  <br>
  <li><%= link_to 'Already Registered? Log-in Again!', new_session_path %></li>
</ul>
<br><center>
<img src="http://ak-hdl.buzzfed.com/static/2013-10/enhanced/webdr05/15/17/enhanced-buzz-8157-1381873037-33.jpg">
<h4>Make Friends and Create Trends!</h4></center>
