<h1>Sari App Welcome Page</h1>
<br>
<ul>
  <li><%= link_to 'New to Our Site? Sign Up Now!', new_user_path %></li>
  <br>
  <li><%= link_to 'Already Registered? Log-in Again!', new_session_path %></li>
  <br>
  <li>Read What the Site is About, so a Visitor can decide if they want to become a User.</li>
</ul>
<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam velit suscipit dignissimos, enim et fugiat nostrum optio ratione animi hic ab ullam recusandae odio error sint inventore itaque, quod quo.
<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, atque. Velit, soluta voluptates, illo voluptatum eligendi commodi, atque aspernatur placeat libero corporis officiis perspiciatis magni quos porro rerum aliquam unde?
<br>

<img src="http://ak-hdl.buzzfed.com/static/2013-10/enhanced/webdr05/15/17/enhanced-buzz-8157-1381873037-33.jpg">
